body{
	margin:0px;
	background-color: #cacacaf0;
}

.portfolio-box{
background-color: white;
width: 1200px;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
margin-bottom: 100px;
box-shadow: 0 0 20px #b1b1b14f;
}

.heading{
text-align: center;
padding: 50px;
}

h2{
margin: 0px;
font-size: 40px;
}

span{
color: #5fcc7b;
}

h1{
margin: 0px;
font-size: 68px;
margin-bottom: 15px;
color: #000000f2;
}

img{box-shadow: 10px 10px 20px #b1b1b14f;
}

.details{
padding-left: 50px;
padding-right: 50px;
padding-bottom: 20px;
}

h3{
font-size: 30px;
margin: 0px;
color: #3f51b5;
}

p{
font-size: 25px;
line-height: 1.5;
color: #040202;
}

ul{

}

li{
font-size: 20px;
color: black;
margin-bottom: 6px;
list-style-type: decimal-leading-zero;
}

